/* Reset */
body,h1,h2,h3,h4,h5,h6,p,ul,ol,dl,dd,figure,menu,input,fieldset,textarea,button,select,th,td,div,span,header,nav,footer{margin:0;padding:0;-webkit-text-size-adjust:none;}
h1,h2,h3,h4,h5,h6,b,strong{font-weight:normal;font-size:100%;}
li{list-style:none;}
em,i{font-style:normal;}
a,a:visited{border:none;text-decoration:none;color:#000}
fieldset,img,input{border:none;}
input,textarea{outline:none;resize:none;-webkit-appearance:none;}
body{word-huaban:break-word;font-size:12px; font-family: /* En */ "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Ubuntu", "Helvetica Neue" , "Helvetica", "Arial", /* Cn */ "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei UI", "Microsoft YaHei", "Source Han Sans CN", "sans-serif"; line-height:1.6; -webkit-tap-highlight-color:rgba(0,0,0,0);-webkit-touch-callout:none; -webkit-user-select:none;}
/* public */
.clear{zoom:1;} .clear:before,
                .clear:after{display:block;content:"";}
.clear:after{clear:both;}
.fl{float:left;display:block;}
.fr{float:right;display:block;}
.none{display:none!important;}
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-results-button, input[type="search"]::-webkit-search-results-decoration{display:none;}


.logo .comp_name {
    font-size: 20px;
    font-weight: bold;
}

.logo{
    padding: 5px 15px 0;
}

.menu {
    font-size: 0px;
    padding: 7px 15px;
    background-color: #111;
}

.menu .menu_item {
    color: #aaa;
    font-size: 13px;
    margin-right: 5px;
}

.wrap .list {
    /*padding: 0 10px;*/
}

.wrap .post {
    padding: 10px 15px;
    border-bottom: 1px #ccc solid;
    position: relative;
}

.huaban .post .left_img{
    display: flex;
    width: 50px;
    height: 50px;
    align-items:center;
    justify-content:center;
    overflow: hidden;
    margin-right: 10px;
}

.huaban .post .avatar {
    width: 100%;
}

.huaban .post .like {
    float: right;
    font-family: sans-serif;
    line-height: 15px;
    color: #aaa;
    font-size: 12px;
}

.huaban .post .cont {
    overflow: hidden;
}



.huaban .girl {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.huaban .girl .thetitle{
    font-weight: bold;
    font-size: 16px;
}

.huaban .girl .content .ima {
    max-width: 100%;
    margin-top: 12px;
}

.huaban .girl .content .intro {
    font-size: 14px;
    color: black;
}

.huaban .girl .like {
    font-size: 14px;
    color: #4285f4;
}

.dropload-down  {
    text-align: center;
}

.wrap .thetitle {
    font-size: 18px;
}

.wrap .description {
    font-size: 15px;
    color: #333;
}

.active {
    color: #fff!important;
}