<%- include('../common/header.ejs', {title:title}) %>
<div class="wrap web_frame">
  <div class="list">
    <% data.forEach(function(v, i){%>
    <div class="post">
      <a href="<%= v.url || 'javascript:void(0)' %>" class="">
        <p class="thetitle"><%= v.title %></p>
        <p class="description"><%= v.description %></p>
      </a>
    </div>
    <% }) %>
  </div>
</div>